<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>This is the Login page</h1>
    <% if (failedLogin) { %>
        <p>Incorrect username or password</p>
        <% } %>
            <form action="/login/authenticate" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" />
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" />
                <br>
                <br>
                <input type="submit" value="Send message" />
            </form>
</body>

</html>