<!-- Prototype browser game.
     Based on this tutorial for a totally different game:
	 https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript -->
     <!DOCTYPE html>
     <html>
     
     <head>
         <meta charset="utf-8" />
         <title>Nodesplosion</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
             crossorigin="anonymous">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
             crossorigin="anonymous">
     
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
             crossorigin="anonymous"></script>
     
         <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     </head>
     
     <body>
         <nav class="navbar navbar-inverse">
             <div class="container-fluid">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="/">NodeSplosion</a>
                 </div>
                 <div class="collapse navbar-collapse" id="myNavbar">
                     <ul class="nav navbar-nav">
                         <li class="num-players-dropdown">
                             <a href="#">Players</a>
                         </li>
                         <li class="change-graph-button">
                             <a href="#">Graphs</a>
                         </li>
                         <% if (sess) { %>
                             <li class="change-graph-button">
                                 <a href="#">
                                     <%= sess.username %>
                                 </a>
                             </li>
                             <li class="change-graph-button">
                                 <a href="/logout">
                                     Logout
                                 </a>
                             </li>
                             <% } else { %>
                                 <li class="change-graph-button">
                                     <a href="/login">
                                         Login
                                     </a>
                                 </li>
                                 <% } %>
                     </ul>
                 </div>
             </div>
         </nav>
     
         <canvas id="myCanvas"></canvas>
     
         <div class="graph-selector"></div>
     
         <script src="/javascripts/base.js"></script>
         <script src="/javascripts/boards.js"></script>
         <script src="/javascripts/main.js"></script>
     
         <script>
     
             // Initial canvas
             var canvas = document.getElementById("myCanvas");
             var ctx = canvas.getContext("2d");
             let navbar = document.querySelector('.navbar');
             // Add the mouseListener
             canvas.addEventListener("click", clickHandler, false);
     
             // Function for getting the position of a click
             function getMousePos(canvas, evt) {
                 var rect = canvas.getBoundingClientRect();
                 return {
                     x: Math.round(evt.clientX - rect.left),
                     y: Math.round(evt.clientY - rect.top)
                 };
             }
     
             // Main Iteration. Calls loop in the javascript incessantly.
             function draw(time) {
                 var w = window.innerWidth * .9, h = window.innerHeight - navbar.offsetHeight - 20;
                 canvas.width = w;
                 canvas.height = h;
                 textSize = Math.floor(Math.max(w, h) * 0.05)
                 canvas.style.width = w + "px";
                 canvas.style.height = h + "px";
                 ctx.clearRect(0, 0, canvas.width, canvas.height);
                 loop(time, w, h);
                 requestAnimationFrame(draw);
             }
     
             draw();
     
         </script>
     
         <!-- Socket.io functionality -->
         <script src="/socket.io/socket.io.js"></script>
         <script>
             $(function () {
                 // Connect
                 var socket = io();
                 socket.user = '<%= username %>';

                 console.log('Client connected!')
                 // Pass click coordinates to server
                 canvas.addEventListener('click', (e) => {
                     var click = { clientX: e.clientX, clientY: e.clientY };
                     socket.emit('clickevent', click);
                 });
                 // Receive click coordinates from server
                 socket.on('clickevent', function (click) {
                     // Draw coordinates to canvas
                     clickHandler(click);
                     draw();
                 });
             });
         </script>
     </body>
     
     </html>